*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:white;
overflow:hidden;
}

.container{
position:relative;
width:100vw;
height:100vh;
background:white;
overflow:hidden;
}

.snoopy{
position:absolute;
bottom:50px;
left:50%;
transform:translateX(-50%);
width:550px;
height:auto
}

#birthdayText{
position:absolute;
top:60px;
left:50%;
transform: translateX(-50%);
text-align:center;
font-size:60px;
font-weight:bold;
}

.letter{
display:inline-block;
opacity:0;
transform:translateY(-60px) rotate(-20deg);
animation:drop .5s forwards;
}

@keyframes drop{

0%{
opacity:0;
transform:translateY(-60px) rotate(-20deg) scale(0.5);
}

70%{
transform:translateY(10px) rotate(8deg);
}

100%{
opacity:1;
transform:translateY(0) rotate(0);
}

}

.next-btn{

position:absolute;
right:90px;
bottom:120px;

padding:16px 40px;

border:none;
border-radius:40px;

background:#f8c9dc;

color:#ff4d4d;

font-size:22px;
font-weight:bold;

}

.sparkle{
position:absolute;
font-size:28px;
animation:twinkle 1.5s infinite;
}

@keyframes twinkle{

0%,100%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.5);
opacity:.3;
}

}

