*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#ffffff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
display:flex;
align-items:center;
gap:60px;
}

.left img{
width:220px;
}

.right{
text-align:center;
}

.display{
display:flex;
justify-content:center;
gap:12px;
margin-bottom:30px;
}

.box{
width:55px;
height:55px;
border:4px solid #333;
border-radius:10px;
font-size:38px;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
color:#d84d7a
}

.keypad{
display:grid;
grid-template-columns:repeat(3,90px);
gap:20px;
justify-content:center;
}

.heart{
    position: relative;
    width: 70px;
    height: 65px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    color: #d84d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.heart::before,
.heart::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 55px;
    background: #ffb6c8;
    border-radius: 35px 35px 0 0;
    z-index: -1;   /* Heart behind number */
}

.heart::before{
    left: 35px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart:hover{
    transform: scale(1.05);
}

.heart:hover{
transform:scale(1.08);
}

#msg{
margin-top:25px;
font-size:24px;
font-weight:bold;
color:#ff4081;
}

#nextBtn{
    margin-top:15px;
    padding: 12px 30px;
    font-size: 18px;
    background-color: #ff7aa8;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextBtn:hover{
    background-color: #ff5d94;
    transform: scale(1.05);
}



